/************** FONTS *****************/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=KoHo&family=Permanent+Marker&display=swap');

.home, .travel, .stay, .experiences, .faq, .footer, .header {
    font-family: 'KoHo', sans-serif;
}

/************** Navbar *****************/
.collapse ul li a span {
color: #0078D5;
}

.active {
    font-weight: bold;
}

.navbar-brand {
    color: #0078D5 !important;
    font-weight: bold;
}

#menu-item-38 {
    /* color: #ffffff !important; */
    /* background-color: #0078D5; */
    border-radius: 5px;
    text-align: center;
    border: 2px solid #0078D5;
}

#menu-item-38:hover {
    transition: 0.05s;
    box-shadow: 0px 0px 10px 2px rgba(0,120,213,0.3);
}

@media only screen and (max-width: 575px) {
    #menu-item-38 {
        width: 90px;
    }
}

/************** HOME PAGE *****************/
.home {
    height: 100%;
}

/* hide home header paragraph */
@media only screen and (max-width: 1200px) {
    .home-header p {
        display: none;
    } 
}

/* make header font smaller */
@media only screen and (max-width: 768px) {
    #n2-ss-2item2 {
        font-size: 26px !important;
        width: 265px !important;
    }
}

/************** Island Info Widget *****************/
.info-container {
    margin-top: 10rem;
}

.info-container-left {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    height: 700px;
    margin-bottom: 5rem;
}

.info-container-right {
    display: flex;
    position: relative;
    height: 700px;
    margin-bottom: 5rem;
}

.info-picture {
    position: relative;
    background-color: #F2F2F2;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    width: 1100px;
    height: 660px;
    padding: 5rem;
    margin: 2rem;
}

.info-picture img {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: 50%;
}

.picture-title {
    position: absolute;
    bottom: 7%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: 'Permanent Marker', cursive;
}

.info-text {
    width: 1500px;
}

@media only screen and (max-width: 1200px) {
    .info-container {
        margin-top: 1rem;
    }

    .info-container-left {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info-container-right {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info-picture {
        width: 300px;
        height: 400px;
    }

    .info-text {
        width: 500px;
        text-align: justify;
    }

    .picture-title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 768px) {
    .info-text {
        width: 300px;
    }
}

/************** FAQ *****************/
.faq h1 {
    font-size: 3rem;
}

/************** FOOTER *****************/
.footer {
    background-color: #F2F2F2;
}

.footer-paragraph {
    width:40%;
}

.footer-menu ul {
    list-style: none; 
}
.footer-menu a {
    text-decoration: none;
}

.footer-links ul {
    list-style: none; 
    display: flex;
    justify-content: space-between;
    max-width: 80%;
}

.footer-links li {
    margin-left: -1.9rem;
}

.footer-links a {
    color: black;
    text-decoration: none;
}
